.leftnav_main {
    background: linear-gradient(180deg, #395bc8 0%, #5e3bc8 100%);
    width: 10%;
    height: 500px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
    padding: 45px;
    text-align: left;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    padding-top: 17%;
  } 
  
  .leftnav_main > hr {
    color: #5c58580c;
    /* border-radius: 30px; */
  }

  .active {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
  }

  .active::after {
    content: ">";
    margin-left: 0px;
    font-weight: bold;
    background: #ffffff;
    color: grey;
    border-radius: 50px 1px 1px 50px;
    padding: 6px 7px;
    margin-right: -45px;
  }
   
  .notActive {
    color: #b3afaf;
    font-size: 18px;
    letter-spacing: 1px;
  }