.posts_page {
    display: flex;
    width: 95%;
    margin: auto;
  }

.posts_top{
        display: flex;
        flex-direction: column;
        width: 82%;
        padding: 30px;
      
}

.posts_profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .posts_profile > h2 {
    color: rgb(67, 65, 65);
  }

  .posts_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    
  }
  
  .ComingSoon {
    font-size: 6rem;
    color: #ded8d8;
    /* background-color: aqua; */
  }